body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:4px;
  width:1010px;
  height:829px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:829px;
}
#u1 {
  position:absolute;
  left:2px;
  top:406px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:140px;
  top:168px;
  width:700px;
  height:512px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:512px;
}
#u3 {
  position:absolute;
  left:2px;
  top:248px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:172px;
  top:310px;
  width:642px;
  height:95px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:101px;
  top:0px;
  width:124px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:225px;
  top:0px;
  width:103px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:328px;
  top:0px;
  width:117px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:445px;
  top:0px;
  width:192px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:30px;
  width:101px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:101px;
  top:30px;
  width:124px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:225px;
  top:30px;
  width:103px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:328px;
  top:30px;
  width:117px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:445px;
  top:30px;
  width:192px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:60px;
  width:101px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:101px;
  top:60px;
  width:124px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:225px;
  top:60px;
  width:103px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:328px;
  top:60px;
  width:117px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:445px;
  top:60px;
  width:192px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:188px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:700px;
  top:346px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#000099;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:250px;
  top:339px;
  visibility:hidden;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:170px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:170px;
}
#u39 {
  position:absolute;
  left:2px;
  top:77px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:93px;
  top:22px;
  width:81px;
  height:21px;
  font-size:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:120px;
  top:130px;
  width:49px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42_input {
  font-family:'Applied Font';
}
#u43 {
  position:absolute;
  left:198px;
  top:130px;
  width:49px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u43_input {
  font-family:'Applied Font';
}
#u44 {
  position:absolute;
  left:170px;
  top:20px;
  width:90px;
  height:19px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44_input {
  font-family:'Applied Font';
}
#u45 {
  position:absolute;
  left:91px;
  top:51px;
  width:81px;
  height:21px;
  font-size:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:169px;
  top:53px;
  width:91px;
  height:19px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u47_input {
  font-family:'Applied Font';
}
#u48 {
  position:absolute;
  left:169px;
  top:88px;
  width:35px;
  height:21px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48_input {
  font-family:'Applied Font';
}
#u49 {
  position:absolute;
  left:61px;
  top:88px;
  width:106px;
  height:21px;
  font-size:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:204px;
  top:91px;
  width:14px;
  height:19px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:225px;
  top:88px;
  width:35px;
  height:21px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53_input {
  font-family:'Applied Font';
}
#u54 {
  position:absolute;
  left:260px;
  top:91px;
  width:14px;
  height:19px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:284px;
  top:88px;
  width:36px;
  height:20px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56_input {
  font-family:'Applied Font';
}
#u57 {
  position:absolute;
  left:152px;
  top:77px;
  width:600px;
  height:30px;
}
#u57_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:183px;
  top:20px;
  width:80px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71_input {
  font-family:'Applied Font';
}
#u72 {
  position:absolute;
  left:61px;
  top:26px;
  width:104px;
  height:19px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:152px;
  top:107px;
  width:100px;
  height:30px;
}
#u74_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:36px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:172px;
  top:180px;
  width:628px;
  height:90px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:90px;
}
#u79 {
  position:absolute;
  left:2px;
  top:37px;
  width:624px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:186px;
  top:210px;
  width:54px;
  height:19px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:250px;
  top:204px;
  width:200px;
  height:25px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82_input {
  font-family:'Applied Font';
}
#u83 {
  position:absolute;
  left:540px;
  top:200px;
  width:100px;
  height:25px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u83_input {
  font-family:'Applied Font';
}
