body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:996px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:976px;
  height:753px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:753px;
}
#u1 {
  position:absolute;
  left:2px;
  top:368px;
  width:972px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:186px;
  top:180px;
  width:694px;
  height:521px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:694px;
  height:521px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:690px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:280px;
  top:210px;
  width:383px;
  height:111px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u6 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:210px;
  top:0px;
  width:168px;
  height:36px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u8 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:36px;
  width:210px;
  height:36px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:210px;
  top:36px;
  width:168px;
  height:36px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:164px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:72px;
  width:210px;
  height:34px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:34px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:206px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:210px;
  top:72px;
  width:168px;
  height:34px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:34px;
}
#u16 {
  position:absolute;
  left:2px;
  top:9px;
  width:164px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:607px;
  top:218px;
  width:10px;
  height:12px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:12px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:180px;
  top:90px;
  width:600px;
  height:30px;
}
#u19_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:262px;
  top:30px;
  width:80px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33_input {
  font-family:'Applied Font';
}
#u34 {
  position:absolute;
  left:140px;
  top:36px;
  width:104px;
  height:19px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:186px;
  top:152px;
  width:53px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:252px;
  top:152px;
  width:11px;
  height:19px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:268px;
  top:151px;
  width:69px;
  height:19px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:800px;
  top:146px;
  width:70px;
  height:25px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u42_input {
  font-family:'Applied Font';
}
