body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1010px;
  height:750px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:169px;
  width:670px;
  height:521px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:521px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:255px;
  top:198px;
  width:500px;
  height:380px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:380px;
  background-image:none;
  font-family:'Candara Regular', 'Candara';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u4_input {
  font-family:'Applied Font';
}
#u5 {
  position:absolute;
  left:545px;
  top:603px;
  width:80px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5_input {
  font-family:'Applied Font';
}
#u6 {
  position:absolute;
  left:645px;
  top:603px;
  width:80px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6_input {
  font-family:'Applied Font';
}
#u7 {
  position:absolute;
  left:183px;
  top:82px;
  width:600px;
  height:30px;
}
#u7_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:214px;
  top:25px;
  width:80px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u21_input {
  font-family:'Applied Font';
}
#u22 {
  position:absolute;
  left:92px;
  top:31px;
  width:104px;
  height:19px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:183px;
  top:140px;
  width:53px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:250px;
  top:142px;
  width:11px;
  height:19px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:261px;
  top:141px;
  width:53px;
  height:19px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:790px;
  top:131px;
  width:70px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u30_input {
  font-family:'Applied Font';
}
#u31 {
  position:absolute;
  left:321px;
  top:141px;
  width:11px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:342px;
  top:141px;
  width:79px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:584px;
  top:111px;
  width:100px;
  height:183px;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:189px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:188px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:31px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:31px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:123px;
  width:100px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:153px;
  width:100px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
