<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>vts</contextName>
	<jmxConfigurator contextName="vts" />
	<appender name="vts"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/vts.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/vts_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>500</maxHistory>
		</rollingPolicy>
		<encoder><!-- 必须指定，否则不会往文件输出内容 -->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
		<append>false</append>
		<prudent>false</prudent>
	</appender>
	<root>
		<appender-ref ref="vts" />
		<level value="TRACE" />
	</root>
</configuration>  