body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:16px;
  top:15px;
  width:30px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:60px;
  width:160px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:60px;
  width:160px;
  height:40px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:24px;
  top:123px;
  width:82px;
  height:70px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:118px;
  top:125px;
  width:106px;
  height:28px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:216px;
  top:131px;
  width:63px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:117px;
  top:156px;
  width:88px;
  height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:117px;
  top:175px;
  width:131px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:24px;
  top:210px;
  width:82px;
  height:70px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:118px;
  top:212px;
  width:106px;
  height:28px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:216px;
  top:218px;
  width:63px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:117px;
  top:243px;
  width:88px;
  height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:117px;
  top:262px;
  width:131px;
  height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:24px;
  top:300px;
  width:82px;
  height:70px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u31 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:118px;
  top:302px;
  width:106px;
  height:28px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:216px;
  top:308px;
  width:63px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:117px;
  top:333px;
  width:88px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:117px;
  top:352px;
  width:131px;
  height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:24px;
  top:390px;
  width:82px;
  height:70px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u41 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:118px;
  top:392px;
  width:106px;
  height:28px;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:216px;
  top:398px;
  width:63px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:117px;
  top:423px;
  width:88px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:117px;
  top:442px;
  width:131px;
  height:18px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:24px;
  top:480px;
  width:82px;
  height:70px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
}
#u51 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:118px;
  top:482px;
  width:106px;
  height:28px;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:216px;
  top:488px;
  width:63px;
  height:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:117px;
  top:513px;
  width:88px;
  height:18px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:117px;
  top:532px;
  width:131px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:58px;
  top:18px;
  width:10px;
  height:10px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u61 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u63 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:24px;
  top:85px;
  width:286px;
  height:230px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:230px;
}
#u65 {
  position:absolute;
  left:2px;
  top:107px;
  width:282px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:294px;
  top:70px;
  width:30px;
  height:30px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:24px;
  top:351px;
  width:286px;
  height:47px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:47px;
}
#u69 {
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:24px;
  top:315px;
  width:286px;
  height:37px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:left;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:37px;
}
#u71 {
  position:absolute;
  left:2px;
  top:10px;
  width:282px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:24px;
  top:433px;
  width:286px;
  height:47px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:47px;
}
#u73 {
  position:absolute;
  left:2px;
  top:16px;
  width:282px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:24px;
  top:397px;
  width:286px;
  height:37px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:left;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:37px;
}
#u75 {
  position:absolute;
  left:2px;
  top:10px;
  width:282px;
  word-wrap:break-word;
}
