<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carinsurancer.car"
    android:versionCode="2"
    android:versionName="0.69" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="21" />
    <!-- 获取ip -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <!-- 微信相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 支付宝相关 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <!--
    激光推送相關
    <permission
        android:name="com.carinsurancer.car.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    -->
    <!-- 支付宝相关 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Wifi 改变状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 高德相关的 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 激光推送 Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.carinsurancer.car.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 激光推送 Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.carinsurance.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar" >

        <!-- 高德地图的key 测试的key：257f990ed4414c206ec81ea14a7b6fb6  发布的key: c72d34f9fbbad345a8c70844f14f16b6 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="c72d34f9fbbad345a8c70844f14f16b6" />

        <activity
            android:name="com.carinsurance.activity.LogoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 微信支付相关 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx94943b9a4457af4b" />
            </intent-filter>
        </activity>

        <!-- 最大的listview -->
        <activity android:name="com.carinsurance.activity.BaseListActivity" >
        </activity>

        <!-- 微信支付相关 -->
        <activity
            android:name="com.carinsurancer.car.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

        <receiver android:name="com.weixin.paydemo.AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- 激光推送相关 For test only 测试高级功能 -->
        <activity
            android:name="com.example.jpushdemo.PushSetActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 激光推送相关 For test only 测试设置 -->
        <activity
            android:name="com.example.jpushdemo.SettingActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- 激光推送相关 For test only 测试状态通知栏，需要打开的Activity -->
        <activity android:name="com.example.jpushdemo.TestActivity" >
            <intent-filter>
                <action android:name="jpush.testAction" />

                <category android:name="jpush.testCategory" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity android:name="com.carinsurance.activity.BaseActivity" >
        </activity>
        <activity android:name="com.carinsurance.activity.BastActivity" >
        </activity>
        <activity android:name="com.carinsurance.activity.Shop_detailsActivity" >
        </activity>
        <activity
            android:name="com.carinsurance.activity.ChoiceCarActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.carinsurance.activity.Find_DetailsActivity" >
        </activity>
        <activity
            android:name="com.carinsurance.activity.HomepageActivity"
            android:label="@string/title_activity_logo" >
        </activity>
        <!-- 车型信息 -->
        <activity
            android:name="com.carinsurance.activity.CarInfosActivity"
            android:label="@string/title_activity_car_infos"
            android:windowSoftInputMode="adjustPan"
             >
        </activity>
        <!-- 门店预约 -->
        <activity android:name="com.carinsurance.activity.OrderActivity" >
        </activity>

        <!--
        Required SDK核心功能
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.carinsurancer.car" />
            </intent-filter>
        </activity>
        -->
        <!--
        Required  SDK核心功能 
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        -->
        <!--
        Required SDK 核心功能 
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        -->
        <!--
        Required SDK核心功能 
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                 Required  显示通知栏 
                <category android:name="com.carinsurancer.car" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            Optional 
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        -->
        <!--
        Required SDK核心功能 
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        -->
        <!--
        User defined.  For test only  用户自定义的广播接收器 
        <receiver
            android:name="com.carinsurance.receiver.JPushReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                Required  用户注册SDK的intent 
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
              Required  用户接收SDK消息的intent 
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                Required  用户接收SDK通知栏信息的intent 
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                 Required  用户打开自定义通知栏的intent 
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                 Optional 用户接受Rich Push Javascript 回调函数的intent
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                                 接收网络变化 连接/断开 since 1.6.3 
                <category android:name="com.carinsurancer.car" />
            </intent-filter>
        </receiver>
        -->
        <!--
        Required  . Enable it you can get statistics data with channel 
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="ae070421d3da0fe2342fe452" />
        -->
        <!-- </>值来自开发者平台取得的AppKey -->
        <activity
            android:name="com.carinsurance.activity.LocationActivity"
            android:label="@string/title_activity_location"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 支付宝相关 -->
        <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 支付宝相关 alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- 登录界面 -->
        <activity android:name="com.carinsurance.activity.LoginActivity" >
        </activity>
        <!-- 选择 车系和车型 -->
        <activity android:name="com.carinsurance.activity.SelectModels1Activity" >
        </activity>
        <!-- 服务订单 -->
        <activity android:name="com.carinsurance.activity.ServiceOrderActivity" >
        </activity>
        <!-- 日历界面 -->
        <activity
            android:name="com.carinsurance.activity.CalendarActivity"
            android:theme="@style/DialogStyleBottom" >
        </activity>
        <!-- 车管家 -->
        <activity
            android:name="com.carinsurance.activity.CarManageActivity"
            android:label="@string/title_activity_car_manage" >
        </activity>
        <!-- 选择预约的时间 -->
        <activity
            android:name="com.carinsurance.activity.SelectSETimeActivity"
            android:theme="@style/DialogStyleBottom" >
        </activity>
        <!-- 地址选择 -->
        <activity android:name="com.carinsurance.activity.RegionDiquActivity" >
        </activity>
        <activity
            android:name="com.carinsurance.activity.SelectMenDianActivity"
            android:label="@string/title_activity_select_men_dian" >
        </activity>
        <!-- 产品详情 -->
        <activity
            android:name="com.carinsurance.activity.ProductDetailsActivity"
            android:label="@string/title_activity_product_details" >
        </activity>
        <!-- 服务订单中的有商品，选择商品类型的界面 -->
        <activity android:name="com.carinsurance.activity.BrandActivity" >
        </activity>
        <!-- 评价界面 -->
        <activity
            android:name="com.carinsurance.activity.EvaluationActivity"
            android:label="@string/title_activity_evaluation" >
        </activity>
        <!-- 我的订单 -->
        <activity
            android:name="com.carinsurance.activity.MyOrderActivity"
            android:label="@string/title_activity_my_order" >
        </activity>
        <!-- 关于 -->
        <activity
            android:name="com.carinsurance.activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <!-- 反馈 -->
        <activity
            android:name="com.carinsurance.activity.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <!-- 优惠卷 -->
        <activity
            android:name="com.carinsurance.activity.MyCouponActivity"
            android:label="@string/title_activity_my_coupon" >
        </activity>
        <!-- 我额积分 -->
        <activity
            android:name="com.carinsurance.activity.MyPointsActivity"
            android:label="@string/title_activity_my_points" >
        </activity>
        <!-- 订单确认页面 -->
        <activity
            android:name="com.carinsurance.activity.OrderConfirmationActivity"
            android:label="@string/title_activity_order_confirmation" >
        </activity>
        <!-- 选择汽车服务界面 -->
        <activity android:name="com.carinsurance.activity.CarServiceActivity" >
        </activity>
        <!-- 选择汽车服务详情 -->
        <activity
            android:name="com.carinsurance.activity.SelectServer1Activity"
            android:label="@string/title_activity_select_server0" >
        </activity>
        <!-- 余额 -->
        <activity
            android:name="com.carinsurance.activity.TheBalanceOfActivity"
            android:label="@string/title_activity_the_balance_of"
            android:theme="@style/SupportPopupMenuTheme" >

            <!-- 使用PopupMenu必须使用Appmat主题 -->

        </activity>
        <!-- 专门用来支付的activity -->
        <activity
            android:name="com.carinsurance.activity.MyPayActivity"
            android:theme="@style/DialogStyleBottom" >
        </activity>
        <!-- 只能用来看地图上的图标的activity -->
        <activity android:name="com.carinsurance.activity.LocationOnlySeeActivity" >
        </activity>
        <!-- 新增 -->
        <activity android:name="com.carinsurance.activity.NewAddingActivity" >
        </activity>
        <!-- 有商品的提交订单界面 -->
        <activity android:name="com.carinsurance.activity.ServiceOrderHasProActivty" >
        </activity>
        <!-- 品牌推荐 -->
        <activity android:name="com.carinsurance.activity.Brand_RecommendationActivity" >
        </activity>
        <!-- 天天特价 -->
        <activity android:name="com.carinsurance.activity.TianTianTejiaActivity" >
        </activity>
        <!-- 用于加载WebView的 -->
        <activity
            android:name="com.carinsurance.activity.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>
        <!-- 已取消订单 -->
        <activity android:name="com.carinsurance.activity.CancelOrderActivity" >
        </activity>
        <!-- 商品分类 -->
        <activity android:name="com.carinsurance.activity.ClassificationOfGoodsActivity" >
        </activity>
        <!-- 热卖商品详细列表 -->

        <activity android:name="com.carinsurance.activity.HotCategoryListActivity" >
        </activity>
        <!-- 商品详细 -->
        <activity android:name="com.carinsurance.activity.GoodsDetailsActivity" >
        </activity>

        <!-- 选择优惠卷 -->
        <activity android:name="com.carinsurance.activity.ChooseACouponActivity" >
        </activity>
        <!-- 商品评论页面 -->
        <activity android:name="com.carinsurance.activity.DiscussCommitActivity" >
        </activity>
        <!-- 地址选择页面另实现 -->
        <activity android:name="com.carinsurance.activity.ChoiceAreaAcitivity" >
        </activity>
        <!-- 商品评价展示页面 -->
        <activity android:name="com.carinsurance.activity.GoodsDiscussShowActivity" >
        </activity>
        <!-- 服务范围 -->
        <activity android:name="com.carinsurance.activity.ServierFanWeiActivity" >
        </activity>
        <!-- 个人中心设置界面 -->
        <activity android:name="com.carinsurance.activity.MyCenterActivity" >
        </activity>
        <!-- 修改名称界面 -->
        <activity android:name="com.carinsurance.activity.ModifyNameActivity" >
        </activity>
        <!-- 选择充值方式 -->
        <activity android:name="com.carinsurance.activity.SelectRechargeActivity" >
        </activity>
        <!-- 充值 -->
        <activity android:name="com.carinsurance.activity.RechargeActivity" >
        </activity>

        <!-- 会员卡列表-->
        <activity android:name="com.carinsurance.activity.MembershipCardActivity" >
        </activity>

         <!-- 会员卡的购买界面 -->
        <activity android:name="com.carinsurance.activity.MembershipCardBuyActivity" >
        </activity>
        <!-- 选择日期 -->
        <activity android:name="com.carinsurance.activity.ChooseDataActivity" >
        </activity>
        <!-- 银联相关    http://www.360doc.com/content/14/0909/17/9200790_408206083.shtml -->
        <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>