body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:29px;
  top:99px;
  width:55px;
  height:56px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-size:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:56px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:30px;
  top:85px;
  width:50px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:84px;
  top:105px;
  width:132px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:29px;
  top:144px;
  width:271px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:254px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:271px;
  height:1px;
}
#u13 {
  position:absolute;
  left:29px;
  top:185px;
  width:55px;
  height:56px;
  font-size:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:56px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:30px;
  top:171px;
  width:50px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:84px;
  top:191px;
  width:133px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:29px;
  top:230px;
  width:271px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:254px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:271px;
  height:1px;
}
#u20 {
  position:absolute;
  left:282px;
  top:28px;
  width:27px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:30px;
  top:269px;
  width:55px;
  height:56px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-size:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:56px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:31px;
  top:255px;
  width:50px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:85px;
  top:275px;
  width:132px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:30px;
  top:314px;
  width:271px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:254px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:271px;
  height:1px;
}
#u29 {
  position:absolute;
  left:30px;
  top:355px;
  width:55px;
  height:56px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-size:40px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:56px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:31px;
  top:341px;
  width:50px;
  height:18px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:85px;
  top:361px;
  width:133px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:30px;
  top:400px;
  width:271px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:254px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:271px;
  height:1px;
}
#u36 {
  position:absolute;
  left:191px;
  top:86px;
  width:107px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:239px;
  top:128px;
  width:61px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:191px;
  top:171px;
  width:107px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:239px;
  top:212px;
  width:61px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:193px;
  top:249px;
  width:107px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:239px;
  top:288px;
  width:61px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:191px;
  top:341px;
  width:107px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:239px;
  top:374px;
  width:61px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
