html,body,div,p,input,div,a,button,p,i {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background: #428BCA;
}

.Login {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	background: #fff;
	border-radius: 5px;
	margin-top: 200px;
	border-top: 1px solid transparent;
	padding-top:40px;
}

.Login p {
	text-align: center;
	font-size: 33px;
	color: #428BCA;
/* 	margin-top: 40px; */
}

.Login p+p {
	color: #636E7B;
	margin-top: 10px;
	font-size: 15px;
}

.Login p+p+p {
	font-size: 14px;
/* 	margin-top: 15px; */
}

.Login p label {
	display: inline-block;
	width: 306px;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	text-align: left;
}

.Login p label input {
	border: none;
	outline: none;
/* 	padding: 11px 5px; */
/* 	width: 255px; */
	margin-top: 0px;
	margin-bottom: 0px;
	padding:0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
/* 	height: 30px; */
/* 	line-height: 30px; */
}

.Login p label i {
	font-size: 24px;
	margin-left: 1px;
/* 	margin-top: -2px; */
	vertical-align: middle;
	display: inline-block;
	line-height: 38px;
	height: 38px;
	text-align: center;
	border-right: 1px solid #CCCCCC;
	width: 37px;
	background: #F7F7F7;
}

.ji {
	width: 308px;
	margin: 0 auto;
	line-height: 37px;
	margin-top: 15px;
}

.ji label {
	font-size: 12px;
	color: #4a535e;
}

.ji button {
	width: 96px;
	height: 37px;
	transition: all 0.3s;
	float: right;
	color: #fff;
	background: #5CB85C;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	letter-spacing: 3px;
	outline: none;
}

.ji input {
	vertical-align: middle;
	margin-top: -2px;
}

.ji button:hover {
	background: #449D44;
}

.rememberMe {
	font-size: 12px;
	font-family:"ÀŒÃÂ";
	color:#4a535e;
}

.clearfix:after {
	content: "020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	/* Ëß¶Âèë hasLayout */
	zoom: 1;
}

.createAccount {
	height: 80px;
	border-top: 1px solid #ddd;
	background: #F7F7F7;
	margin-top: 42px;
	text-align: center;
}

.createAccount a {
	width: 318px;
	height: 37px;
	transition: all 0.3s;
	font-size: 14px;
	background: #428BCA;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	line-height: 37px;
	margin-top: 20px;
}

.createAccount a:hover {
	background: #3071A9;
}