body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1130px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1120px;
  height:760px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1120px;
  height:760px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:201px;
  top:88px;
  width:600px;
  height:30px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:232px;
  top:31px;
  width:80px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:110px;
  top:37px;
  width:104px;
  height:19px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:201px;
  top:140px;
  width:710px;
  height:540px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:540px;
}
#u20 {
  position:absolute;
  left:2px;
  top:262px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:282px;
  top:210px;
  width:631px;
  height:95px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:110px;
  top:0px;
  width:110px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:220px;
  top:0px;
  width:110px;
  height:30px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:330px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:455px;
  top:0px;
  width:171px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:30px;
  width:110px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:110px;
  top:30px;
  width:110px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:220px;
  top:30px;
  width:110px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:330px;
  top:30px;
  width:125px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:455px;
  top:30px;
  width:171px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:60px;
  width:110px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:110px;
  top:60px;
  width:110px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:220px;
  top:60px;
  width:110px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:330px;
  top:60px;
  width:125px;
  height:30px;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:455px;
  top:60px;
  width:171px;
  height:30px;
  text-align:center;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:220px;
  top:150px;
  width:53px;
  height:19px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:774px;
  top:246px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#000099;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:830px;
  top:246px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#000099;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:730px;
  top:154px;
  width:91px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u58_input {
  font-family:'Applied Font';
}
#u59 {
  position:absolute;
  left:284px;
  top:240px;
  visibility:hidden;
}
#u59_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u59_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:260px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:260px;
}
#u61 {
  position:absolute;
  left:2px;
  top:122px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:68px;
  top:30px;
  width:53px;
  height:19px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:131px;
  top:27px;
  width:200px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64_input {
  font-family:'Applied Font';
}
#u65 {
  position:absolute;
  left:27px;
  top:70px;
  width:92px;
  height:19px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:129px;
  top:70px;
  width:141px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:25px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67_input {
  font-family:'Applied Font';
}
#u68 {
  position:absolute;
  left:280px;
  top:70px;
  width:90px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68_input {
  font-family:'Applied Font';
}
#u69 {
  position:absolute;
  left:120px;
  top:175px;
  width:70px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69_input {
  font-family:'Applied Font';
}
#u70 {
  position:absolute;
  left:229px;
  top:175px;
  width:81px;
  height:25px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u70_input {
  font-family:'Applied Font';
}
#u71 {
  position:absolute;
  left:48px;
  top:114px;
  width:66px;
  height:19px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:124px;
  top:114px;
  width:96px;
  height:22px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u73_input {
  font-family:'Applied Font';
}
#u74 {
  position:absolute;
  left:774px;
  top:277px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#000099;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:830px;
  top:277px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#000099;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
