.tip-skyblue {
	z-index:1000;
	text-align:left;
	padding:4px 5px;
	border:1px solid #c7bf93;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color:#007cdc;
	background-color:#efefef;
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-skyblue .tip-inner {
	font:12px 'trebuchet ms',arial,helvetica,sans-serif;
	color:#37356c;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-skyblue .tip-arrow-top {
	margin-top:-12px;
	margin-left:0;
	top:0;
	left:0;
	width:11px;
	height:19px;
}
.tip-skyblue .tip-arrow-right {
	margin-top:0;
	margin-left:-7px;
	top:0;
	left:100%;
	width:18px;
	height:13px;
}
.tip-skyblue .tip-arrow-bottom {
	margin-top:-8px;
	margin-left:0;
	top:100%;
	left:0;
	width:11px;
	height:20px;
}
.tip-skyblue .tip-arrow-left {
	margin-top:0;
	margin-left:-11px;
	top:0;
	left:0;
	width:18px;
	height:13px;
}