body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1000px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:161px;
  width:720px;
  height:459px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:459px;
}
#u3 {
  position:absolute;
  left:2px;
  top:222px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:361px;
  top:192px;
  width:109px;
  height:24px;
  font-size:18px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:228px;
  top:246px;
  width:500px;
  height:284px;
  font-family:'Candara Regular', 'Candara';
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:284px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:700px;
  top:201px;
  width:70px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u8_input {
  font-family:'Applied Font';
}
#u9 {
  position:absolute;
  left:228px;
  top:226px;
  width:590px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u10 {
  position:absolute;
  left:172px;
  top:82px;
  width:600px;
  height:30px;
}
#u10_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:203px;
  top:25px;
  width:80px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u24_input {
  font-family:'Applied Font';
}
#u25 {
  position:absolute;
  left:81px;
  top:31px;
  width:104px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:172px;
  top:140px;
  width:53px;
  height:19px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:239px;
  top:142px;
  width:11px;
  height:19px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:255px;
  top:140px;
  width:53px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:808px;
  top:131px;
  width:70px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u33_input {
  font-family:'Applied Font';
}
#u34 {
  position:absolute;
  left:573px;
  top:112px;
  width:100px;
  height:183px;
}
#u34_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:189px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:188px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u37 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:31px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:31px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u41 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:123px;
  width:100px;
  height:30px;
  text-align:center;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:153px;
  width:100px;
  height:30px;
  text-align:center;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
