body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1076px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:9px;
  width:1060px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:201px;
  top:88px;
  width:600px;
  height:30px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:232px;
  top:31px;
  width:80px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:170px;
  top:174px;
  width:720px;
  height:459px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:459px;
}
#u18 {
  position:absolute;
  left:2px;
  top:222px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:379px;
  top:192px;
  width:73px;
  height:24px;
  font-size:18px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:228px;
  top:246px;
  width:500px;
  height:284px;
  font-family:'Candara Regular', 'Candara';
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:284px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:700px;
  top:201px;
  width:70px;
  height:25px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23_input {
  font-family:'Applied Font';
}
#u24 {
  position:absolute;
  left:228px;
  top:226px;
  width:590px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u25 {
  position:absolute;
  left:110px;
  top:37px;
  width:104px;
  height:19px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:599px;
  top:118px;
  width:100px;
  height:183px;
}
#u27_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:189px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:188px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:31px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:31px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u34 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:123px;
  width:100px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:153px;
  width:100px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:201px;
  top:150px;
  width:53px;
  height:19px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:268px;
  top:152px;
  width:11px;
  height:19px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:284px;
  top:150px;
  width:53px;
  height:19px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:804px;
  top:142px;
  width:70px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47_input {
  font-family:'Applied Font';
}
