body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:17px;
  top:23px;
  width:1060px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1060px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:1056px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:202px;
  top:102px;
  width:600px;
  height:30px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:233px;
  top:45px;
  width:80px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u16_input {
  font-family:'Applied Font';
}
#u17 {
  position:absolute;
  left:202px;
  top:193px;
  width:658px;
  height:527px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:527px;
}
#u18 {
  position:absolute;
  left:2px;
  top:256px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:250px;
  top:240px;
  width:552px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:535px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:552px;
  height:1px;
}
#u20 {
  position:absolute;
  left:111px;
  top:51px;
  width:104px;
  height:19px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:600px;
  top:132px;
  width:100px;
  height:183px;
}
#u22_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:189px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:188px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:31px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:31px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:123px;
  width:100px;
  height:30px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:153px;
  width:100px;
  height:30px;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:202px;
  top:164px;
  width:53px;
  height:19px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:269px;
  top:166px;
  width:11px;
  height:19px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:285px;
  top:164px;
  width:53px;
  height:19px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:363px;
  top:267px;
  width:99px;
  height:21px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:361px;
  top:299px;
  width:113px;
  height:21px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:331px;
  top:333px;
  width:192px;
  height:21px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:21px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:740px;
  top:213px;
  width:62px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u48_input {
  font-family:'Applied Font';
}
#u49 {
  position:absolute;
  left:338px;
  top:284px;
  visibility:hidden;
}
#u49_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u49_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:-8px;
  top:-10px;
  width:390px;
  height:170px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:170px;
}
#u51 {
  position:absolute;
  left:2px;
  top:77px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:93px;
  top:22px;
  width:81px;
  height:21px;
  font-size:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:120px;
  top:130px;
  width:49px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54_input {
  font-family:'Applied Font';
}
#u55 {
  position:absolute;
  left:198px;
  top:130px;
  width:49px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u55_input {
  font-family:'Applied Font';
}
#u56 {
  position:absolute;
  left:170px;
  top:20px;
  width:90px;
  height:19px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56_input {
  font-family:'Applied Font';
}
#u57 {
  position:absolute;
  left:91px;
  top:51px;
  width:81px;
  height:21px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:169px;
  top:53px;
  width:61px;
  height:19px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u59_input {
  font-family:'Applied Font';
}
#u60 {
  position:absolute;
  left:169px;
  top:88px;
  width:35px;
  height:21px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60_input {
  font-family:'Applied Font';
}
#u61 {
  position:absolute;
  left:61px;
  top:88px;
  width:106px;
  height:21px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:204px;
  top:91px;
  width:14px;
  height:19px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:225px;
  top:88px;
  width:35px;
  height:21px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:21px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65_input {
  font-family:'Applied Font';
}
#u66 {
  position:absolute;
  left:260px;
  top:91px;
  width:14px;
  height:19px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:284px;
  top:88px;
  width:36px;
  height:20px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background-image:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68_input {
  font-family:'Applied Font';
}
#u69 {
  position:absolute;
  left:240px;
  top:53px;
  width:15px;
  height:21px;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:766px;
  top:157px;
  width:70px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u71_input {
  font-family:'Applied Font';
}
