/* CSS Document */
*{
	margin:0;
	padding:0;
}
img{
	border:0px;
}
input{
	line-height:18px;
	*line-height:32px;
	_line-height:32px;
	line-height:32px \9;
}
.tongyong_main{
	width:100%;
	height:auto;
	float:left;
	margin-top:20px;
}
.top_info{
	width:100%;
	height:40px;
	float:left;
	border-bottom:1px solid #d0dee5;
}
.top_info_01{
	width:100px;
	height:38px;
	float:left;
	border-bottom:3px solid #66c9f3;
	line-height:46px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#333333;
}
.list_main{
	width:100%;
	float:left;
}
.list_main01{
	  padding: 25px 0px 20px 5px;
	/* padding:25px 17px 20px 15px; */
}
.list_main02{
	width:100%;
	float:left;
	height:auto;
}
.add_mian,.add_mian01{
	width:100%;
	height:auto;
	float:left;
	margin-top:15px;
}
.add_mian ul{
	width:100%;
	height:auto;
	float:left;
	padding:0px;
	list-style:none;
}
.add_mian ul li{
	width:95%;
	font-size:14px;
	float:left;
	margin-left:2.5%;
	line-height:30px;
}
.add_mian ul li span a:link,.add_mian ul li span a:visited{
	color:#1759c0;
	text-decoration:none;
}
.add_mian ul li span a:hover,.add_mian ul li span a:active{
	color:#be3404;
	text-decoration:none;
}
.li_cy{
	width:66px;
	list-style:none;
	padding:15px 20px 0px 20px;
	float:left;
}
.li_cy a:link,.li_cy a:visited{
	color:#333333;
	text-decoration:none;
}
.li_cy a:hover,.li_cy a:active{
	color:#1759c0;
	text-decoration:none;
}
.li_cy span{
	text-align:center;
	width:66px;
	float:left;
}
.map{
	background-color:#edf6fa;
	width:100%;
	height:42px;
	float:left;
	border-top:1px solid #d7e4ea;
	border-bottom:1px solid #d7e4ea;
	position:fixed;
	top:0px;
}
.pro_map{
	background:url(../images/map_wz.png) no-repeat;
	background-position:20px 13px;
	width:auto;
	height:40px;
	float:left;
	line-height:40px;
	color:#515151;
	font-size:12px;
	font-weight:bold;
	text-indent:40px;
	
}