body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:80px;
  width:120px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:51px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:240px;
  width:260px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:300px;
  width:260px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:370px;
  width:260px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#000000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:435px;
  width:110px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:190px;
  top:435px;
  width:110px;
  height:18px;
  text-align:right;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:70px;
  top:10px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u16 {
  position:absolute;
  left:2px;
  top:21px;
  width:196px;
  word-wrap:break-word;
}
