body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:282px;
  top:28px;
  width:27px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:140px;
  top:252px;
  width:60px;
  height:50px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-size:48px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:50px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
