body {
  margin:0px;
  background-color:rgba(102, 102, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1020px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:10px;
  width:1008px;
  height:770px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:770px;
}
#u1 {
  position:absolute;
  left:2px;
  top:377px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:206px;
  top:160px;
  width:692px;
  height:521px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:521px;
}
#u3 {
  position:absolute;
  left:2px;
  top:252px;
  width:688px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:312px;
  top:234px;
  width:93px;
  height:19px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:425px;
  top:234px;
  width:280px;
  height:19px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:301px;
  top:409px;
  width:502px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:485px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:502px;
  height:1px;
}
#u9 {
  position:absolute;
  left:308px;
  top:193px;
  width:460px;
  height:41px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:41px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:746px;
  top:391px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:320px;
  top:396px;
  width:93px;
  height:19px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:433px;
  top:394px;
  width:280px;
  height:19px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:292px;
  top:332px;
  width:502px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:485px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:502px;
  height:1px;
}
#u18 {
  position:absolute;
  left:312px;
  top:352px;
  width:460px;
  height:41px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:41px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:730px;
  top:310px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:310px;
  top:315px;
  width:93px;
  height:19px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:423px;
  top:315px;
  width:280px;
  height:19px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:301px;
  top:254px;
  width:502px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:485px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:502px;
  height:1px;
}
#u27 {
  position:absolute;
  left:313px;
  top:274px;
  width:460px;
  height:41px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:41px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:746px;
  top:235px;
  width:27px;
  height:19px;
  text-decoration:underline;
  color:#0000FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:201px;
  top:77px;
  width:600px;
  height:30px;
}
#u31_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:232px;
  top:20px;
  width:80px;
  height:25px;
}
#u45_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u45_input {
  font-family:'Applied Font';
}
#u46 {
  position:absolute;
  left:110px;
  top:26px;
  width:104px;
  height:19px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:201px;
  top:139px;
  width:53px;
  height:19px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:268px;
  top:141px;
  width:11px;
  height:19px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:284px;
  top:139px;
  width:53px;
  height:19px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:810px;
  top:125px;
  width:70px;
  height:25px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u54_input {
  font-family:'Applied Font';
}
#u55 {
  position:absolute;
  left:603px;
  top:107px;
  width:100px;
  height:183px;
}
#u55_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:189px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:188px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:31px;
  width:100px;
  height:31px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:62px;
  width:100px;
  height:31px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:93px;
  width:100px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:123px;
  width:100px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:153px;
  width:100px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
