body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:283px;
  top:28px;
  width:27px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:121px;
  width:250px;
  height:44px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  line-height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:44px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:165px;
  width:280px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u11 {
  position:absolute;
  left:30px;
  top:111px;
  width:30px;
  height:16px;
}
#u12 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13 {
  position:absolute;
  left:60px;
  top:195px;
  width:81px;
  height:24px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:60px;
  top:226px;
  width:250px;
  height:44px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  line-height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:44px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:30px;
  top:270px;
  width:280px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u18 {
  position:absolute;
  left:30px;
  top:216px;
  width:30px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:10px;
  top:530px;
  width:160px;
  height:48px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:48px;
}
#u21 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:170px;
  top:530px;
  width:160px;
  height:48px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:48px;
}
#u23 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:175px;
  visibility:hidden;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u26 {
  position:absolute;
  left:2px;
  top:66px;
  width:196px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:60px;
  top:87px;
  width:120px;
  height:24px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
