body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:15px;
  width:30px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:140px;
  width:260px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:200px;
  width:260px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:40px;
  top:80px;
  width:260px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  color:#999999;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:256px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:288px;
  top:28px;
  width:27px;
  height:13px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:70px;
  top:60px;
  visibility:hidden;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u16 {
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
