body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  height:50px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:13px;
  width:316px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:30px;
  top:88px;
  width:101px;
  height:24px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:116px;
  top:136px;
  width:129px;
  height:68px;
  font-size:48px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:68px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:240px;
  top:150px;
  width:30px;
  height:31px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:287px;
  width:101px;
  height:24px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:140px;
  top:320px;
  width:49px;
  height:51px;
  font-size:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:51px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:108px;
  top:367px;
  width:110px;
  height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:120px;
  top:400px;
  width:97px;
  height:51px;
  font-size:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:51px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:44px;
  top:449px;
  width:266px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:207px;
  top:421px;
  width:51px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:189px;
  top:341px;
  width:91px;
  height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:490px;
  width:160px;
  height:88px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:88px;
}
#u25 {
  position:absolute;
  left:2px;
  top:36px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:170px;
  top:490px;
  width:160px;
  height:88px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:88px;
}
#u27 {
  position:absolute;
  left:2px;
  top:36px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:57px;
  top:510px;
  width:66px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:214px;
  top:510px;
  width:79px;
  height:16px;
  font-family:'Heiti SC Light', 'Heiti SC';
  font-weight:200;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:53px;
  top:533px;
  width:101px;
  height:42px;
  font-size:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:216px;
  top:533px;
  width:81px;
  height:42px;
  font-size:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:16px;
  top:15px;
  width:30px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:26px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:33px;
  top:204px;
  width:277px;
  height:50px;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:11px;
  width:273px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:50px;
  top:18px;
  width:10px;
  height:10px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
