table {
	margin-bottom: 8px;
	font-size: 13px;
	border-collapse: collapse;
}

.tab {
	margin: 0 1px;
	margin-bottom: 8px;
	font-size: 13px;
	border-collapse: collapse;
}

.tab th {
	border: solid 1px #E5E5E5;
	padding: 10px;
	text-align: left;
	font-weight: bolder;
}

.tab td {
	padding: 10px;
	text-align: left;
}

.contentpanel{
	min-height: 700px;
}
.bottomwrapper {
	/*
	position: fixed;
	bottom: 0;
	width: 85%
	*/
	margin:0 20px;
	padding-top:10px;
	border-top:1px solid #d3d3d3; 
}

.content-l {
	width: 800px;
	margin: 10px auto;
	border: 1px solid #d3d3d3;
	padding: 30px 50px ;
	font-size: 15px;
}
.content-m {
	width: 600px;
	margin: 10px auto;
	border: 1px solid #d3d3d3;
	padding: 30px 50px ;
	font-size: 15px;
}
.content-s {
	width: 400px;
	margin: 10px auto;
	border: 1px solid #d3d3d3;
	padding: 30px 50px ;
	font-size: 15px;
}
.content-s0 {
	width: 400px;
	border: 1px solid #d3d3d3;
	padding: 30px 50px ;
	font-size: 15px;
}

.fenye {
	font-size: 14px;
	text-align: center;
	height: 24px;
}

.fenye .count {
	line-height: 30px;
	display: inline-block;
	position: relative;
	top: -11px;
	padding-right: 15px;
}

.fenye .wrap {
	line-height: 30px;
	display: inline-block;
	border: 1px solid #E5E5E5;
}

.fenye a {
	border-left: 1px solid #E5E5E5;
	text-decoration: none;
	display: block;
	line-height: 30px;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
}

.fenye .prev {
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	line-height: 30px;
	float: left;
}

.fenye .next {
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #E5E5E5;
	display: block;
	line-height: 30px;
	float: left;
}

.fenye .curpage {
	text-decoration: none;
	background-color: #4183C4;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
	display: block;
	float: left;
}

.fenye .curpage a {
	padding-left: 12px;
	padding-right: 12px;
	color: white;
}

.fenye .gopage {
	padding-left: 12px;
	position: relative;
	top: -10px;
}

.fenye .btn {
	border: 1px solid #9D9D9D;
	background-color: #428BCA;
	color: white;
	font-size: 14px;
	text-align: center;
	padding: 2px 8px;
}

.errorStyle{
	font-size: 13px;
	color: red;
}